.dashBoardMainContainer {
  height: 100vh;
  padding: 10px !important;
  transition-duration: 0.3s;
  transition-property: background-color;
}

.leftContainer {
  transition: 0.3s;
  padding-right: 10px;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: #b3afb3;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
  margin-top: 20px;
  margin-bottom: 20px;
}
